# macOS system files
.DS_Store

## Core LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc

## Bibliography files
*.bbl
*.blg

# Ignore the entire .vscode folder contents
.vscode/*

# But do not ignore the settings.json file
!.vscode/settings.json